<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    html,body{
      margin: 0;
      padding: 0;
    }



    .container{
      background-image: url('./assets/images/tomatoes.jpg');

      background-size: cover;

      background-position: center center;

      background-repeat: no-repeat;

      height: 100vh;

      max-width: 1441px;
   

    }

    .card{
      height: 370px;
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
      background-color: rgba(0,0,0,0.5) !important;
    }

  
  </style>
</head>
<body>

  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="username">

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account <a [routerLink]="['/register']"><button class="btn btn-primary">Register</button></a>
            <a [routerLink]="['']"><button class="btn btn-primary">Cancel</button></a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password</a>

          </div>

        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>